mqtt:
  host: 192.168.2.101
  port: 1883
  username: astrolive
  # password: set via command line

connections:
  asiair:
    type: asiair
    address: asiair
  nina:
    type: nina
    host: astrobee
    port: 1888